{% load i18n static %}{% spaceless %}
    <a
        href="/newsletter"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
    >
        <svg role="img">
            <title>{% trans "Subscribe our newsletter" %}</title>
            <use href="#icon-envelope" />
        </svg>
    </a>
    <a
        href="https://www.facebook.com/plataformanau/"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
    >
        <svg role="img">
            <title>{% trans "Follow us on Facebook" %}</title>
            <use href="#icon-facebook" />
        </svg>
    </a>
    <!--<a
        href="https://www.instagram.com/plataforma_nau/"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
    >
        <svg role="img">
            <title>{% trans "Follow us on Instagram" %}</title>
            <use href="#icon-instagram" />
        </svg>
    </a>-->
    <a
        href="https://www.linkedin.com/company/plataformanau/"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
    >
        <svg role="img">
            <title>{% trans "Follow us on Linkedin" %}</title>
            <use href="#icon-linkedin" />
        </svg>
    </a>
{% endspaceless %}
