.blogpost-glimpse__categories {
    .category-tag {
        .category-tag__title {
            color: r-color("firebrick6");
        }
    }
}

.blogpost-mini__categories {
    .category-tag {
        background: none;

        .category-tag__title {
            color: r-color("firebrick6");
        }
    }
}
