// Category Glimpses rewrites and tweaks

//
// Glimpse list
//
.category-glimpse-list {
  width: 100%;
}

$category-tag-class: ".category-tag";

//
// Tag variant
//
#{$category-tag-class} {
  //@include r-button-colors(r-theme-val(category-tags, primary-item), $apply-border: true);
  background: none;

  &-list {
    #{$category-tag-class} {
      margin-bottom: .25rem;
      margin-right: .5rem;
    }
  }
}

//
// Badge variant
//
.category-badge {
  @include r-button-colors(
    r-theme-val(category-badges, primary-item),
    $apply-border: true
  );
}

//
// Badge list
//
.category-badge-list {
  .category-badge {
    @include r-button-colors(
      r-theme-val(category-badges, secondary-item),
      $apply-border: false
    );
    font-weight: $font-weight-regular;

    &:hover,
    &:focus {
      color: r-color("white");
      background-color: r-color("indianred3");
    }
  }
}

//
// Person glimpse
.person-glimpse {
  &__categories {
    .category-tag {
      background-color: r-color("firebrick6");
      font-weight: $font-weight-semibold;

      &:hover {
        color: r-color("white");
        background-color: r-color("indianred3");
      }
    }
  }
}
