// Category Glimpses rewrites and tweaks

//
// Glimpse list
//
.category-glimpse-list {
  width: 100%;
}

//
// Tag variant
//
.category-tag {
  //@include r-button-colors(r-theme-val(category-tags, primary-item), $apply-border: true);
  background: none;
}

//
// Badge variant
//
.category-badge {
  @include r-button-colors(r-theme-val(category-badges, primary-item), $apply-border: true);
}

//
// Badge list
//
.category-badge-list {
  .category-badge {
    @include r-button-colors(r-theme-val(category-badges, primary-item), $apply-border: true);

    &:hover,
    &:focus {
      background-color: r-color("midnightblue");
      color: r-color("white");
    }
  }
}

//
// Person glimpse
.person-glimpse {
  &__categories {
    .category-tag:hover {
      color: r-color("white");
      background-color: r-color("midnightblue");
    }
  }
}