@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-weight: 700;
  src:
    url("/static/richie/fonts/ibmplex/IBMPlexSans-Bold.woff2") format("woff2"),
    url("/static/richie/fonts/ibmplex/IBMPlexSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src:
    url("/static/richie/fonts/ibmplex/IBMPlexSans-MediumItalic.woff2") format("woff2"),
    url("/static/richie/fonts/ibmplex/IBMPlexSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-weight: 300, 400, 500;
  src:
    url("/static/richie/fonts/ibmplex/IBMPlexSans-Regular.woff2") format("woff2"),
    url("/static/richie/fonts/ibmplex/IBMPlexSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-weight: 600;
  src:
    url("/static/richie/fonts/ibmplex/IBMPlexSans-SemiBold.woff2") format("woff2"),
    url("/static/richie/fonts/ibmplex/IBMPlexSans-SemiBold.woff") format("woff");
}

$r-font-family-hind: "IBM Plex Sans", sans-serif;
$r-font-family-montserrat: $r-font-family-hind;

$r-fonts: (
  hind: $r-font-family-hind,
  montserrat: $r-font-family-montserrat,
);
