/**
 * Overrides for the JS Search Input file
 */

.search-input {
    & > input {
        background-color: r-color("light-blue");
        border: none;

        &::placeholder {
            color: r-color("firebrick6");
        }
    }

    &__btn__icon {
        width: 1.4rem;
        height: 1.4rem;
        fill: r-color("firebrick6");
    }
}
