// Course glimpses
//
// A flex grid of course cards

// Course-glimpse-list related variables
$r-course-glimpse-gutter: 0.8rem !default;

// Course-glimpse related variables
$course-glimpse-content-padding-sides: 0.7rem !default;

$glimpse-selector: ".course-glimpse";

.course-glimpse,
.course-glimpse__large {
  $glimpse-item-selector: &;

  box-shadow: r-theme-val(course-glimpse, base-shadow);

  #{$glimpse-selector}__organization-logo {
    box-shadow: r-theme-val(course-glimpse, base-shadow);
  }

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
    border: 0;
    box-shadow: r-theme-val(course-glimpse, base-hover-shadow);
    transition: 0.5s all;

    #{$glimpse-item-selector}__foot__cta .button {
      background: r-theme-val(course-glimpse, cta-background);
    }

    #{$glimpse-selector}__organization {
      color: r-theme-val(course-glimpse, organization-color-hover);

      &-logo {
        transition: all 0.5s;
        box-shadow: r-theme-val(course-glimpse, base-hover-shadow);
      }
    }
  }

  &__wrapper {
    @include sv-flex(1, 0, auto);
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__content {
    font-size: 1rem;
  }

  &__title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    color: r-theme-val(course-glimpse, title-color);
    flex: 1 0 1.6em * 3; // 3 lines;
    line-height: 1.25em;
    overflow: hidden;

    &-text {
      font-size: 1rem;
    }
  }

  &__metadata {
    font-size: .9rem;

    .title {
      max-height: 2.4em;
    }

    &--organization {
      position: relative;
      padding: 0;
      bottom: 0;

      svg {
        display: none;
      }
    }

    &--code {
      display: none;
    }
  }

  &__code {
    display: none;
  }
}

.course-glimpse-footer,
.course-glimpse__large-footer {
  color: r-color("firebrick6");
  background-color: r-color("white");
  padding: 0.5rem 0.7rem;
  font-weight: 600;
  font-size: .9rem;
  text-transform: uppercase;

  &__date {
    font-weight: unset;

    svg {
      display: none;
    }
  }
}