// Main body footer
.body-footer {
  padding: 2rem 0;

  &__brand {
    &>a {
      width: 100%;
    }
  }

  &__copyright {
    @include font-size($h6-font-size);
  }

  &__badge {
    @include sv-flex(1, 0, 2rem);
    margin: 0 1rem 1rem 0;
    height: 1.15rem;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 0.8rem;
    line-height: 1;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: none;
    border-radius: 0;
    padding: 0;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: r-color("white");
      transition: fill 0.2s ease;
    }

    &:hover {
      background: none;

      svg {
        fill: r-color("greenteal");
      }
    }
  }

  &__items {

    //
    // Default variant acts like a simple horizontal menu
    //
    &>.nested-item--list,
    &>a {
      $nesteditem-base-selector: ".nested-item";
      $external-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkMmQyZDIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zcXVhcmUtYXJyb3ctb3V0LXVwLXJpZ2h0Ij48cGF0aCBkPSJNMjEgMTN2NmEyIDIgMCAwIDEtMiAySDVhMiAyIDAgMCAxLTItMlY1YTIgMiAwIDAgMSAyLTJoNiIvPjxwYXRoIGQ9Im0yMSAzLTkgOSIvPjxwYXRoIGQ9Ik0xNSAzaDZ2NiIvPjwvc3ZnPg==");


      #{$nesteditem-base-selector}__content {
        font-size: 1rem;
      }

      #{$nesteditem-base-selector}__items {
        li {
          padding: 0.1rem 0.1rem 0.1rem 0rem;

          @include external-link-icon($external-icon);
        }
      }
    }
  }

  &__menu {
    font-size: 0.925rem;

    a {
      padding: 0.69rem 0;

      &:hover {
        color: r-color("greenteal");
        transition: all 0.2s ease;
      }
    }
  }
}

// Legal mentions
.body-mentions {

  &__container {
    @include make-container();
    @include make-container-max-widths();
  }

  &__entities {
    width: 100%;
    display: flex;
    flex-direction: column;

    .section {
      display: flex;
      align-items: center;
      gap: 2rem;
      justify-content: center;
      flex-basis: 0;

      border-block-end: 1px solid #dedede;
      padding: 1rem 0 1.6rem 0;

      &:last-of-type {
        border-block-end: none;
      }
    }

    img {
      padding: 0 0.5rem;
      max-height: 4rem;
    }
  }
}