// Main body header
.topbar {
  $topbar-selector: &;
  padding: 1rem 0 0;

  @include media-breakpoint-down(sm) {
    padding: 1rem 0;
  }

  @include media-breakpoint-up($r-topbar-breakpoint) {
    height: initial;

    &--over {
      position: relative;
      background: r-theme-val(topbar, over-background);
      border-bottom: 0;
    }
  }

  &__hamburger {
    color: r-color("black");
  }

  // Brand part with hamburger and clickable logo
  &__brand {

    &>h1 {
      margin: 0;
    }

    // Clickable logo
    &>a {
      align-self: center;
    }
  }

  &__header--spacing {
    @include media-breakpoint-up($r-topbar-md-breakpoint) {
      padding: 1.125rem 0;
    }
  }

  &__logo {
      width: 6.75rem;
  }

  // Main menu for pages
  &__menu {
    font-weight: $font-weight-regular;
    font-size: 0.85rem;

    @include media-breakpoint-up($r-topbar-breakpoint) {
      min-height: 3.24rem; // force the menu to have a default height so it doesn't jump around
    }

    &--stroke {
      @include media-breakpoint-up($r-topbar-breakpoint) {
        border-block-start: 1px solid r-theme-val(topbar, menu-border-color);
        border-block-end: 1px solid r-theme-val(topbar, menu-border-color);
      }
    }

  }

  &__list {
    @include media-breakpoint-up($r-topbar-breakpoint) {
      gap: 1.5rem;
      margin-inline-start: .5rem;
      margin-inline-end: .5rem;
    }
  }

  // Menu item element
  &__item {
    &>a {
      flex-grow: inherit;
      flex-basis: auto;
      display: flex;
      padding: 1rem 0;
      flex-direction: row;
      align-items: center;
      font-weight: 600;
      font-size: 1.125rem;

      @include media-breakpoint-up($r-topbar-breakpoint) {}

      &:hover {
        text-decoration: none;
        color: r-theme-val(topbar, item-color);

        @include media-breakpoint-up($r-topbar-breakpoint) {
          position: relative;

          @if r-theme-val(topbar, item-hover-color) {
            &::after {
              position: absolute;
              height: r-theme-val(topbar, item-stroke-height);
              background-color: r-theme-val(topbar, item-hover-color);
              border-radius: 0;
              bottom: -1px;
            }
          }
        }
      }
    }

    // Current page item or current ancestor
    &--selected,
    &--ancestor {
      &>a {
        @if r-theme-val(topbar, item-active-color) {
          color: r-theme-val(topbar, item-active-color);

          &::before {
            position: relative;
            background-color: r-theme-val(topbar, item-hover-color);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          @include media-breakpoint-up($r-topbar-breakpoint) {
            &::before {
              display: none;
            }

            &::after {
              position: absolute;
              background-color: r-theme-val(topbar, item-hover-color);
              height: r-theme-val(topbar, item-stroke-height);
              border-radius: 0;
              bottom: -1px;
            }
          }
        }
      }
    }
  }

  // Change order of Login and Register.
  &__item {
    &--login {
      .user-login {
        &__btn {
          &--log-in {
            order: 1;
            color: r-color("black");
            background: transparent;
            border-color: transparent;
            text-transform: uppercase;
            font-size: 0.85rem;

            &:hover {
              color: r-color("firebrick6") !important;
            }

            .icon {
              display: none;
            }
          }

          &--sign-up {
            order: 2;
            background: r-color("firebrick6");
            color: r-color("white");
            font-size: 0.85rem;
            border-radius: $border-radius;
            font-weight: 600;

            &:hover {
              color: r-color("white") !important;
              background: r-color("indianred3");
            }
          }
        }
      }
    }

    &--cta {
      order: -1;

      a {
        background: none;
        border: none;
        text-transform: uppercase;
        color: r-color("firebrick6");
      }
    }
  }

  // Change order of Language changer and the Login/Register block.
  &__list {
    &--controls {
      order: 3;
    }

    .richie-react--language-selector {
      order: 2;
    }
  }

  &__maintenance {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-base;
    box-shadow: 4px 2px 12px rgb(10 31 80 / 45%);
    border-radius: 2rem;
    border: solid red;
    padding: 0.5rem;

    a {
      font-size: 1.5rem;
    }
  }
}