// Main body header
.topbar {
  $topbar-selector: &;
  padding: 1rem 0 0;

  @include media-breakpoint-down(sm) {
    padding: 1rem 0;
  }

  @include media-breakpoint-up($r-topbar-breakpoint) {
    height: initial;

    &--over {
      position: relative;
      background: r-theme-val(topbar, over-background);
      border-bottom: 0;
    }
  }

  &__hamburger {
    color: r-color("firebrick6");
  }

  // Brand part with hamburger and clickable logo
  &__brand {
    // Clickable logo
    & > a {
      align-self: center;
    }
  }

  // Main menu for pages
  &__menu {
    font-weight: $font-weight-regular;
    font-size: 0.85rem;

    @include media-breakpoint-up($r-topbar-breakpoint) {
      min-height: 3.24rem; // force the menu to have a default height so it doesn't jump around
    }
  }

  // Menu item element
  &__item {
    & > a {
      @include sv-flex(1, 0, 100%);
      display: flex;
      padding: 1rem 0.2rem 1rem 1rem;
      flex-direction: row;
      align-items: center;
      font-family: inherit;
      font-weight: inherit;
      color: inherit;

      @include media-breakpoint-up($r-topbar-breakpoint) {
        padding: 1rem 1rem;
      }

      &:hover {
        text-decoration: none;
        color: r-theme-val(topbar, item-active-color);

        @include media-breakpoint-up($r-topbar-breakpoint) {
          position: relative;

          @if r-theme-val(topbar, item-hover-color) {
            &::after {
              position: absolute;
              height: 6px;
              background-color: r-theme-val(topbar, item-hover-color);
              border-radius: 0;
            }
          }
        }
      }
    }

    // Current page item or current ancestor
    &--selected,
    &--ancestor {
      & > a {
        @if r-theme-val(topbar, item-active-color) {
          color: r-color("firebrick6");

          &::before {
            position: relative;
            background-color: r-theme-val(topbar, item-hover-color);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          @include media-breakpoint-up($r-topbar-breakpoint) {
            &::before {
              display: none;
            }

            &::after {
              position: absolute;
              background-color: r-theme-val(topbar, item-hover-color);
              border-radius: 0;
              height: 6px;
            }
          }
        }
      }
    }
  }

  // Change order of Login and Register.
  &__item {
    &--login {
      .user-login {
        &__btn {
          &--log-in {
            order: 1;
            color: r-color("firebrick6");
            background: transparent;
            border-color: transparent;
            text-transform: uppercase;

            &:hover {
              color: r-color("firebrick6") !important;
            }

            .icon {
              display: none;
            }
          }

          &--sign-up {
            order: 2;
            background: r-color("firebrick6");
            color: r-color("white");

            &:hover {
              color: r-color("white") !important;
            }
          }
        }
      }
    }

    &--cta {
      order: -1;

      a {
        background: none;
        border: none;
        text-transform: uppercase;
        color: r-color("firebrick6");
      }
    }
  }

  // Change order of Language changer and the Login/Register block.
  &__list {
    &--controls {
      order: 3;
    }

    .richie-react--language-selector {
      order: 2;
    }
  }

  &__maintenance {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-base;
    box-shadow: 4px 2px 12px rgb(10 31 80 / 45%);
    border-radius: 2rem;
    border: solid red;
    padding: 0.5rem;
    a {
      font-size: 1.5rem;
    }
  }
}
