/**
 * Overrides for the JS Search Input file
 */

.search-input {
  & > input {
    border: r-color("light-stroke") 1px solid;
    border-radius: $border-radius;


    &:focus, &.focus {
      border: inherit;
      box-shadow: r-theme-val(subheader, search-border-outline);
    }

    &::placeholder {
      color: r-color("alt-black");
    }
  }

  &__btn__icon {
    width: 1.4rem;
    height: 1.4rem;
    fill: r-color("alt-black");
  }
}
