//
// Common sub-header for breadcrumbs, document title, introduction, etc..
//

$r-subheader-search-title-width: 19rem !default; // aligned on computed search result width

.subheader {
  $subheader-selector: &;
  color: inherit;
  background: none;

  // Top level base container to include possible main background and basic
  // spacing
  &__container {
    background: none;
  }

  // Main document title
  &__title {
    padding-left: 1rem;
    font-weight: $font-weight-semibold;
    font-size: 2.5rem;
  }

  // Main subheader container alongside 'aside' container
  &__main {
    @include media-breakpoint-up(lg) {
      padding-left: 1rem;
    }

    & > .subheader__title {
      padding: 0;
    }
  }

  &__search {
    padding: 0;

    #{$subheader-selector}__title {
      padding: 0 1rem;
      font-size: 2.5rem;
    }

    .richie-react--search-suggest-field 
    .react-autosuggest__container 
    .react-autosuggest__input {
      border: r-theme-val(subheader, search-border);

      &:focus, &.focus {
        box-shadow: r-theme-val(subheader, search-border-outline);
      }
    }
  }

  &__media {
    border-radius: unset;

    img,
    svg {
      width: initial;
      max-height: 6.5rem;
      border-radius: unset;
    }

    &--locket img,
    &--locket img {
      border-radius: 100%;
    }
  }

  .breadcrumbs {
    background: transparent;

    &__list {
      font-size: 0.9;
    }

    &__item {
      font-weight: 400;

      a:hover {
        color: r-color("indianred3");
      }
    }
  }

  // Component variants
  &--alternative {
    #{$subheader-selector}__container {
      background: none;

      @if r-theme-val(subheader-alt, container-border) {
        border-top: none;
        padding-bottom: 0 !important;
      }

      // Insert bottom curves
      &::after {
        background-image: none;
        content: none;
        position: inherit;
      }
    }
  }
}
