commands:
    generate-version-file:
        parameters:
            site:
                default: nau
                type: string
        steps:
            - run:
                command: |
                    # Create a version.json à-la-mozilla
                    # https://github.com/mozilla-services/Dockerflow/blob/master/docs/version_object.md
                    printf '{"commit":"%s","version":"%s","source":"https://github.com/%s/%s","build":"%s"}\n' \
                    "$CIRCLE_SHA1" \
                    "$CIRCLE_TAG" \
                    "$CIRCLE_PROJECT_USERNAME" \
                    "$CIRCLE_PROJECT_REPONAME" \
                    "$CIRCLE_BUILD_URL" > sites/<< parameters.site >>/src/backend/version.json
                name: Create a version.json
jobs:
    build-back:
        docker:
            - image: cimg/python:3.10.2
        parameters:
            site:
                type: string
        steps:
            - checkout:
                path: ~/nau
            - restore_cache:
                keys:
                    - v1-back-dependencies-<< parameters.site >>-{{ .Revision }}
            - run:
                command: |
                    pip install \
                      --user \
                      -r requirements/base.txt \
                      -r requirements/dev.txt
                name: Install development dependencies
            - save_cache:
                key: v1-back-dependencies-<< parameters.site >>-{{ .Revision }}
                paths:
                    - ~/.local
        working_directory: ~/nau/sites/<< parameters.site >>
    build-front-production:
        docker:
            - image: circleci/node:14
        parameters:
            site:
                type: string
        steps:
            - checkout:
                path: ~/nau
            - restore_cache:
                keys:
                    - v1-front-dependencies-<< parameters.site >>-{{ checksum "yarn.lock" }}
                    - v1-front-dependencies-<< parameters.site >>-
            - run:
                command: yarn install --frozen-lockfile
                name: Install frontend dependencies (with locked dependencies)
            - run:
                command: yarn build-sass-production
                name: Build application styles (production mode)
            - run:
                command: yarn build-ts-production
                name: Build application js (production mode)
            - save_cache:
                key: v1-front-dependencies-<< parameters.site >>-{{ checksum "yarn.lock" }}
                paths:
                    - ./node_modules
        working_directory: ~/nau/sites/<< parameters.site >>/src/frontend/
    check-changelog:
        docker:
            - image: circleci/buildpack-deps:stretch-scm
        parameters:
            site:
                type: string
        steps:
            - checkout
            - run:
                command: |
                    git whatchanged --name-only --pretty="" origin..HEAD | grep sites/<< parameters.site >>/CHANGELOG
                name: Check that the CHANGELOG has been modified in the current branch
        working_directory: ~/nau
    check-configuration:
        machine:
            docker_layer_caching: true
        parameters:
            ci_update_options:
                type: string
        steps:
            - checkout
            - run:
                command: |
                    bin/ci check_configuration << parameters.ci_update_options >>
                name: Check that the ".circleci/config.yml" file has been updated in the current branch
        working_directory: ~/nau
    hub:
        docker:
            - environment:
                RICHIE_SITE: << parameters.site >>
              image: circleci/buildpack-deps:stretch
        parameters:
            image_name:
                type: string
            site:
                type: string
        steps:
            - checkout
            - generate-version-file:
                site: << parameters.site >>
            - setup_remote_docker:
                docker_layer_caching: true
                version: 19.03.13
            - run:
                command: make env.d/aws && make build
                name: Build docker images
            - run:
                command: |
                    docker images "<< parameters.image_name >>:development"
                    docker images "<< parameters.image_name >>:production"
                    docker images "<< parameters.image_name >>-nginx:production"
                name: Check built image availability
            - run:
                command: make ci-version
                name: Check version.json file
            - run:
                command: make ci-migrate
                name: Run Django migrations
            - run:
                command: make ci-check
                name: Run Django checks with production image
            - run:
                command: bin/ci check_tag << parameters.site >> "$CIRCLE_TAG"
                name: Check that the changelog, versions and tag are always in sync
            - when:
                condition:
                    or:
                        - << pipeline.git.tag >>
                        - equal:
                            - << pipeline.git.branch >>
                            - master
                steps:
                    - run:
                        command: echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
                        name: Login to DockerHub
                    - run:
                        command: |
                            DOCKER_TAG=$([[ -z "$CIRCLE_TAG" ]] && echo $CIRCLE_BRANCH || echo ${CIRCLE_TAG} | sed 's/^<< parameters.site >>-//')
                            echo "export DOCKER_TAG=${DOCKER_TAG}" >> $BASH_ENV
                        name: Compute Docker tag
                    - run:
                        command: |
                            docker images nauedu/<< parameters.image_name >>
                            # Display either:
                            # - DOCKER_TAG: master (Git branch)
                            # or
                            # - DOCKER_TAG: 1.1.2 (Git tag v1.1.2)
                            echo "DOCKER_TAG: ${DOCKER_TAG}"
                            docker tag << parameters.site >>:production nauedu/<< parameters.image_name >>:${DOCKER_TAG}
                            if [[ -n "$CIRCLE_TAG" ]]; then
                                docker tag << parameters.site >>:production nauedu/<< parameters.image_name >>:latest
                            fi
                            docker images | grep -E "^nauedu/<< parameters.image_name >>\s*(${DOCKER_TAG}.*|latest|master)"
                        name: Tag app image
                    - run:
                        command: |
                            docker images nauedu/<< parameters.image_name >>-nginx
                            echo "DOCKER_TAG: ${DOCKER_TAG}"
                            docker tag << parameters.site >>-nginx:production nauedu/<< parameters.image_name >>-nginx:${DOCKER_TAG}
                            if [[ -n "$CIRCLE_TAG" ]]; then
                                docker tag << parameters.site >>-nginx:production nauedu/<< parameters.image_name >>-nginx:latest
                            fi
                            docker images | grep -E "^nauedu/<< parameters.image_name >>-nginx\s*(${DOCKER_TAG}.*|latest|master)"
                        name: Tag nginx image
                    - run:
                        command: |
                            docker push nauedu/<< parameters.image_name >>:${DOCKER_TAG}
                            if [[ -n "$CIRCLE_TAG" ]]; then
                              docker push nauedu/<< parameters.image_name >>:latest
                            fi
                        name: Publish app image
                    - run:
                        command: |
                            docker push nauedu/<< parameters.image_name >>-nginx:${DOCKER_TAG}
                            if [[ -n "$CIRCLE_TAG" ]]; then
                              docker push nauedu/<< parameters.image_name >>-nginx:latest
                            fi
                        name: Publish nginx image
        working_directory: ~/nau
    lint-back:
        docker:
            - image: cimg/python:3.10.2
        parameters:
            site:
                type: string
        steps:
            - checkout:
                path: ~/nau
            - restore_cache:
                keys:
                    - v1-back-dependencies-<< parameters.site >>-{{ .Revision }}
            - run:
                command: ~/.local/bin/flake8
                name: Lint code with flake8
            - run:
                command: ~/.local/bin/isort --check-only .
                name: Lint code with isort
            - run:
                command: ~/.local/bin/black .
                name: Lint code with black
            - run:
                command: ~/.local/bin/pylint .
                name: Lint code with pylint
            - run:
                command: ~/.local/bin/bandit -qr .
                name: Lint code with bandit
            - run:
                command: ~/.local/bin/raincoat
                name: Lint code with raincoat
        working_directory: ~/nau/sites/<< parameters.site >>/src/backend/
    lint-bash:
        docker:
            - image: koalaman/shellcheck-alpine:stable
        steps:
            - checkout
            - run:
                command: shellcheck bin/*
                name: Lint bash scripts in "/bin"
        working_directory: ~/nau
    lint-changelog:
        docker:
            - image: debian:stretch
        parameters:
            site:
                type: string
        steps:
            - checkout
            - run:
                command: |
                    # Get the longuest line width (ignoring release links)
                    test $(cat sites/<< parameters.site >>/CHANGELOG.md | grep -Ev "^\[.*\]: https://github.com/openfun" | wc -L) -le 80
                name: Check CHANGELOG max line length
        working_directory: ~/nau
    lint-front:
        docker:
            - image: circleci/node:14
        parameters:
            site:
                type: string
        steps:
            - checkout:
                path: ~/nau
            - restore_cache:
                keys:
                    - v1-front-dependencies-<< parameters.site >>-{{ checksum "yarn.lock" }}
                    - v1-front-dependencies-<< parameters.site >>-
            - run:
                command: yarn lint
                name: Lint frontend code with prettier & eslint
        working_directory: ~/nau/sites/<< parameters.site >>/src/frontend/
    lint-git:
        docker:
            - image: cimg/python:3.10.2
        steps:
            - checkout
            - run:
                command: |
                    ! git diff origin/master..HEAD -- . ':(exclude).circleci' | grep "print("
                name: enforce absence of print statements in code
            - run:
                command: |
                    ! git log | grep 'fixup!'
                name: Check absence of fixup commits
            - run:
                command: |
                    pip install --user requests gitlint
                name: Install gitlint
            - run:
                command: |
                    ~/.local/bin/gitlint --commits origin/master..HEAD
                name: lint commit messages added to master
        working_directory: ~/nau
    no-change:
        docker:
            - image: circleci/buildpack-deps:stretch-scm
        steps:
            - run: echo "Everything is up-to-date ✅"
        working_directory: ~/nau
    test-back:
        docker:
            - environment:
                DB_ENGINE: django.db.backends.mysql
                DB_HOST: 127.0.0.1
                DB_NAME: richie
                DB_OPTION_CHARSET: utf8mb4
                DB_PASSWORD: pass
                DB_PORT: 3306
                DB_USER: richie_user
                DJANGO_CONFIGURATION: Test
                DJANGO_SECRET_KEY: ThisIsAnExampleKeyForTestPurposeOnly
                DJANGO_SETTINGS_MODULE: << parameters.site >>.settings
                PYTHONPATH: /home/circleci/nau/src/backend
              image: cimg/python:3.10.2
            - command: --default-authentication-plugin=mysql_native_password
              environment:
                MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
                MYSQL_DATABASE: test_richie
                MYSQL_PASSWORD: pass
                MYSQL_USER: richie_user
              image: circleci/mysql:8.0-ram
            - environment:
                ALLOW_EMPTY_PASSWORD: "yes"
                REDIS_REPLICATION_MODE: master
              image: docker.io/bitnami/redis:6.0-debian-10
              name: redis-primary
            - environment:
                REDIS_MASTER_HOST: redis-primary
              image: docker.io/bitnami/redis-sentinel:6.0-debian-10
              name: redis-sentinel
        parameters:
            site:
                type: string
        steps:
            - checkout:
                path: ~/nau
            - restore_cache:
                keys:
                    - v1-back-dependencies-<< parameters.site >>-{{ .Revision }}
            - run:
                command: |
                    sudo apt-get update
                    sudo apt-get install -y gettext
                name: Install gettext (required to compile messages)
            - run:
                command: python manage.py compilemessages || true
                name: Compile translations
            - run:
                command: |
                    dockerize \
                      -wait tcp://localhost:3306 \
                      -timeout 60s \
                        ~/.local/bin/pytest
                name: Run tests
        working_directory: ~/nau/sites/<< parameters.site >>/src/backend
version: 2.1
workflows:
    nau:
        jobs:
            - check-changelog:
                filters:
                    branches:
                        ignore: master
                name: check-changelog-nau
                site: nau
            - lint-changelog:
                filters:
                    branches:
                        ignore: master
                    tags:
                        only: /nau-.*/
                name: lint-changelog--nau
                site: nau
            - build-front-production:
                filters:
                    tags:
                        only: /nau-.*/
                name: build-front-production-nau
                site: nau
            - lint-front:
                filters:
                    tags:
                        only: /nau-.*/
                name: lint-front-nau
                requires:
                    - build-front-production-nau
                site: nau
            - build-back:
                filters:
                    tags:
                        only: /nau-.*/
                name: build-back-nau
                site: nau
            - lint-back:
                filters:
                    tags:
                        only: /nau-.*/
                name: lint-back-nau
                requires:
                    - build-back-nau
                site: nau
            - test-back:
                filters:
                    tags:
                        only: /nau-.*/
                name: test-back-nau
                requires:
                    - build-back-nau
                site: nau
            - hub:
                filters:
                    tags:
                        only: /^nau-.*/
                image_name: nau
                name: hub-nau
                requires:
                    - lint-front-nau
                    - lint-back-nau
                site: nau
    site-factory:
        jobs:
            - lint-git:
                filters:
                    tags:
                        only: /.*/
            - check-configuration:
                ci_update_options: ""
                filters:
                    branches:
                        ignore: master
            - lint-bash:
                filters:
                    tags:
                        only: /.*/

