// Basic large banner template
.large-banner {
  // Needed to support img-as-a-background-image
  position: relative;

  // Support the img-as-a-background-image
  max-width: 100%;
  overflow: hidden;

  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;

  // Default background color, may be overridden by the background image
  background-color: r-theme-val(large-banner, base-background-color);

  color: r-theme-val(large-banner, base-color);
  @if r-theme-val(large-banner, base-shadow) {
    text-shadow: 0 0 3px r-theme-val(large-banner, base-shadow);
  }

  @include media-breakpoint-up(md) {
    height: 20rem;
  }

  @include media-breakpoint-up(lg) {
    // Fixed aspect ratio for screens larger than this size;
    height: 22.5vw;
  }

  &__background {
    // Make an img into a background-image to benefit from srcset
    // We don't need to center it thanks to flex props on large-banner
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  }

  &__body {
    // Needed to support img-as-a-background-image
    position: relative;

    &__title {
      @include font-size($h1-font-size);
      // Leave some margin between title & logo
      margin: 0 0.5rem 0 0;
      text-align: center;
    }

    &__logo {
      // Leave some margin between title & logo
      margin: 0 0 0 0.5rem;

      // Adjust logo size for smaller screens
      max-width: 10rem;
      max-height: 5rem;

      @include media-breakpoint-up(sm) {
        max-width: 11.25rem;
        max-height: 5.625rem;
      }

      @include media-breakpoint-up(md) {
        max-width: 12.5rem;
        max-height: 6.25rem;
      }
    }
  }
}

// Special hero intro to work right with "topbar over" behavior and a
// search bar
//
.hero-intro {
  position: relative;
  padding: 0;
  background-repeat: no-repeat;
  background-color: r-color('firebrick6');
  //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%2309122C'/%3E%3Cstop offset='1' stop-color='%23872341'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='800' height='666.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23BE3144' stroke-width='36.4' stroke-opacity='0.03' %3E%3Ccircle fill='%2309122C' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%230a1032' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%230c0d37' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23110d3d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23190e42' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23221048' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%232b114d' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23361352' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23411458' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%234d165d' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%235b1763' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23681967' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236d1a63' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23721c5e' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23781e58' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%237d2051' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23822149' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23872341' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");

  @include media-breakpoint-down(lg) {
    background-position: bottom right;
  }

  &::after {
    background-image: none;
  }

  &__inner {
    background: none;

    @include media-breakpoint-up(lg) {
      display: flex;

      @if $r-topbar-height {
        padding: calc(3vw + 1rem) 0 calc(3vw + 1rem);
        min-height: ($r-topbar-height + 16.75rem);
      } @else {
        padding: 1rem 0 calc(5vw + 1rem);
        min-height: 34.75rem;
      }
    }
  }

  &__body {
    @include make-container();
    @include make-container-max-widths();
    padding: 1rem;

    @include media-breakpoint-up(lg) {
      display: flex;
      padding: 2rem;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__title {
    @include responsive-spacer("margin-bottom", 3, $breakpoints: ("lg": 4));
    @include font-size($extra-font-size);
    color: r-theme-val(hero-intro, title-color);

    @include media-breakpoint-up(lg) {
      width: 50%;
    }

    strong {
      color: r-theme-val(hero-intro, title-alt-color);
      font-weight: inherit;
    }
  }

  &__content {
    @include font-size($h5-font-size);
    color: r-theme-val(hero-intro, content-color);

    & > h1 {
      font-size: 3.8rem;

      @include media-breakpoint-down(sm) {
        font-size: 3.2rem;
        text-align: center;
      }
    }
  }

  &__search {
    display: flex;
    padding-top: 2rem;
    //flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
      flex-direction: unset;
    }

    .richie-react--root-search-suggest-field {
      @include sv-flex(1, 0, 100%);
      position: relative;

      @include media-breakpoint-up(lg) {
        @include sv-flex(initial, initial, 55%);
        width: 55%;
      }

      input {
        background: r-theme-val(hero-intro, search-input-background);
        border: none;
        width: 100%;
      }

      .search-input {
        &__btn {
          background: r-theme-val(hero-intro, search-btn-background);
          border-top-right-radius: 3rem;
          border-bottom-right-radius: 3rem;

          &__icon {
            fill: r-theme-val(hero-intro, search-icon-fill);
          }
        }
      }
    }
  }

  &__search-title {
    @include sv-flex(1, 0, 100%);
    @include font-size($h4-font-size);
    font-family: $r-font-family-montserrat;
    font-weight: $font-weight-boldest;
  }

  &__cta {
    @include sv-flex(0, 0, auto);
    @include button-size(
      $btn-padding-y,
      $btn-padding-x,
      $btn-font-size,
      $btn-line-height,
      $btn-border-radius
    );
    @include button-variant(
      r-theme-val(hero-intro, cta-variant-from),
      r-theme-val(hero-intro, cta-variant-to)
    );
    //margin: 1.2rem auto 0;
    margin-left: 0 !important;
    font-size: $font-size-base;
    color: r-theme-val(hero-intro, cta-color);
    border-radius: 2rem;
    border: none;
    box-shadow: 4px 2px 12px rgba(10, 31, 80, 0.45);

    @include media-breakpoint-up(lg) {
      margin-top: 0;
      //@include responsive-spacer("margin-left", 0, $breakpoints: ("lg": 5));
    }

    @include media-breakpoint-down(sm) {
      margin: 0 auto !important;
    }

    &:after {
      content: "→";
      margin-left: 1rem;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
