{% load i18n static %}{% spaceless %}
    <a
        href="mailto:c-academy@cncs.gov.pt"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
    >
        <svg role="img">
            <title>{% trans "Subscribe newsletter" %}</title>
            <use href="#icon-envelope" />
        </svg>
    </a>
    <a
        href="https://www.facebook.com/CentroNacionalCibersegurancaPT"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
    >
        <svg role="img">
            <title>{% trans "Follow our Facebook" %}</title>
            <use href="#icon-facebook" />
        </svg>
    </a>
    <a
        href="https://twitter.com/CNCSgovpt"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
    >
        <svg role="img">
            <title>{% trans "Follow our Twitter" %}</title>
            <use href="#icon-twitter" />
        </svg>
    </a>
    <a
        href="https://www.linkedin.com/company/centro-nacional-de-ciberseguran%C3%A7a---portuguese-national-cybersecurity-centre/"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
    >
        <svg role="img">
            <title>{% trans "Follow our Linkedin" %}</title>
            <use href="#icon-linkedin" />
        </svg>
    </a>
    <a
        href="https://www.youtube.com/channel/UCxWGbCv8YC8a0ImlYebUblg"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
    >
        <svg role="img">
            <title>{% trans "Follow our Youtube" %}</title>
            <use href="#icon-youtube" />
        </svg>
    </a>
{% endspaceless %}
