.course-detail {
  &__row {
    margin-top: 2rem;
    text-align: left;
  }

  // In future remove this block and configure the `checkmark-list-decoration-color` variable
  &__skills {
    @if r-theme-val(course-detail, checkmark-list-decoration) {
      ul {
        li {
          &::before {
            // clear upstream config
            background-image: none;

            content: "";
            display: inline-block;
            background-repeat: no-repeat;
            background-color: r-theme-val(
              course-detail,
              run-catalog-visibility-logo-color
            );
            -webkit-mask: r-theme-val(course-detail, checkmark-list-decoration);
            mask: r-theme-val(course-detail, checkmark-list-decoration);
            -webkit-mask-size: cover;
            mask-size: cover;
          }
        }
      }
    }
  }

  &__plan &__title {
    color: inherit;
  }

  &__organizations &__title {
    color: inherit !important;
    @include font-size($h2-font-size);
  }
}
