{% load i18n cms_tags menu_tags static full_static_tags %}

<footer id="site-footer">
    <div class="body-mentions">
        <div class="body-mentions__container">
            {% block body_mentions %}
            <div class="body-mentions__entities">
                {% static_placeholder "logos" %}
            </div>
            {% endblock body_mentions %}
        </div>
    </div>
    <div class="body-footer">
        <div class="body-footer__container">
            <div class="body-footer__brand">
                <a href="/" aria-label="{% trans " Homepage" %}">
                    {% block body_footer_logo %}
                    <img src="{% static 'richie/images/logo_nau_fct_full.svg' %}" alt="{{ SITE.name }}">
                    {% endblock body_footer_logo %}
                </a>
            </div>
            <div class="body-footer__navigation-container">
                <div class="body-footer__insert">
                    {% block body_footer_title %}
                    {% endblock body_footer_title %}
                    {% language_chooser "menu/language_menu.html" %}
                    <div class="body-footer__badges">
                        {% include "social-networks/footer-badges.html" %}
                    </div>
                </div>
                <div class="body-footer__menu">
                    <div class="body-footer__items">
                        {% static_placeholder "footer" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="brand-footer">
        <div class="brand-footer__container">
            <div class="brand-footer__legal">
                {% static_placeholder "legal" %}
            </div>
            <div class="brand-footer__copyright">
                <p>&copy; {% now "Y" %} FCCN-FCT. {% trans "All right reserved." %}</p>
            </div>
        </div>
    </div>
</footer>