{% if CHATBOT_WIDGET_JS_URL %}
    <script>
        function loadScript(src, callback) {
            var s,
                r,
                t;
            r = false;
            s = document.createElement('script');
            s.type = 'text/javascript';
            s.src = src;
            s.id = 'botscriptpass';
            s.setAttribute("param_curso", "{{ CHATBOT_PARAM_COURSE }}");
            s.setAttribute("param_email", "");
            s.onload = s.onreadystatechange = function () {
                if (!r && (!this.readyState || this.readyState == 'complete')) {
                    r = true;
                    callback();
                }
            };
            t = document.getElementsByTagName('script')[0];
            t.parentNode.insertBefore(s, t);
        }
        loadScript("{{ CHATBOT_WIDGET_JS_URL | safe }}", function () {
        });
    </script>
{% endif %}
