// Theme schemes
$r-theme-nau: (
    // Used from styleguide to build available scheme to demonstrate, used to create button variant
    topbar:
        (
            base-background: r-color("white"),
            over-background: rgba(r-color("white"), 0.1),
            over-border: r-color("light-grey"),
            hamburger-color: r-color("denim"),
            item-color: r-color("black"),
            item-hover-color: r-color("firebrick6"),
            item-active-color: r-color("firebrick6"),
            item-cta-color: r-color("white"),
            item-cta-background: r-color("firebrick6"),
            item-cta-border: r-color("firebrick6"),
            item-cta-hollow-color: r-color("firebrick6"),
            item-cta-hollow-background: transparent,
            item-cta-hollow-border: transparent,
            item-divider-border: r-color("light-grey"),
        ),
    body-mentions: (
        base-color: r-color("black"),
        base-background: r-color("white"),
        poweredby-hover: r-color("black"),
    ),
    hero-intro: (
        insert-background-image: url("../../richie/images/components/hero_background.svg"),
        inner-background: $white-mask-gradient,
        title-color: r-color("firebrick6"),
        title-alt-color: r-color("charcoal"),
        content-color: r-color("white"),
        search-input-background: r-color("white"),
        search-btn-background: r-color("white"),
        search-icon-fill: r-color("firebrick6"),
        cta-variant-from: r-color("banana"),
        cta-variant-to: rgba(r-color("white"), 0.8),
        cta-color: r-color("black"),
        cta-border: r-color("white"),
    ),
    blogpost-glimpse: (
        card-background: r-color("white"),
        title-color: r-color("black"),
        title-hover-color: r-color("firebrick6"),
        theme-border: r-color("firebrick6"),
        content-color: r-color("slate-grey"),
        content-hover-color: r-color("black"),
        media-background: r-color("light-grey"),
        date-color: r-color("slate-grey"),
        date-hover-color: r-color("firebrick6"),
        empty-color: r-color("black"),
    ),
    blogpost-glimpse-mini: (
        border: r-color("light-grey"),
    ),
    blogpost-glimpse-favorite: (
        content-color: inherit,
        title-color: r-color("firebrick6"),
        excerpt-color: r-color("slate-grey"),
        cta: $firebrick6-scheme,
        cta-hover: $firebrick6-scheme,
    ),
    card-glimpse: (
        base-background: r-color("white"),
        divider-color: r-color("firebrick6"),
        title-color: r-color("black"),
        content-color: r-color("slate-grey"),
    ),
    course-glimpse: (
        card-background: r-color("white"),
        base-shadow: 0 0 6px r-color("light-grey"),
        base-hover-shadow: 0 0 6px r-color("battleship-grey"),
        cta-background: r-color("battleship-grey"),
        empty-color: r-color("slate-grey"),
        icon-shadow: (
            0 10px 50px 0 rgba(r-color("black"), 0.05),
            0 12px 34px 0 rgba(r-color("black"), 0.15),
        ),
        icon: $middle-gradient-scheme,
        content-color: r-color("slate-grey"),
        title-color: r-color("black"),
        organization-media-empty-background: r-color("smoke"),
        organization-color: r-color("firebrick6"),
        code-color: r-color("battleship-grey"),
        svg-icon-fill: r-color("white"),
        footer: $battleship-grey-scheme,
        organization-shadow: 0 0 6px r-color("light-grey"),
    ),
    category-detail: (
        empty-background: r-color("smoke"),
        insert-background-image: url("../../richie/images/components/wave-white.svg"),
        logo-background: r-color("white"),
        logo-border: r-color("light-grey"),
        logo-shadow: 0 0.25rem 1.5625rem r-color("slate-grey"),
        intro-title-color: r-color("firebrick6"),
        description-color: r-color("slate-grey"),
    ),
    organization-detail: (
        banner-empty-background: r-color("smoke"),
        insert-background-image: url("../../richie/images/components/wave-white.svg"),
        logo-border: r-color("light-grey"),
        logo-shadow: 0 0.25rem 1.5625rem r-color("slate-grey"),
        intro-title: r-color("firebrick6"),
        categories: $firebrick6-scheme,
        description-color: r-color("slate-grey"),
    ),
    spinner: (
        base-color: r-color("firebrick6"),
        base-color-light: r-color("white"),
    )
);
