//////////////////////////////////
// NAU custom variables
//
// Define available font weights and add some extra ones
$font-weight-regular: 500; //Rubik only

// Adjust heading sizes
$extra-font-size: 4.5rem;

// Topbar height is required to be able to preserve space in some context like
// when the tobpar is an absolute position, so content won't be placed below.
// You will probably need to adjust it along logo height.
$r-topbar-height: 8.9375rem;

// Header logo width is required for SVG logos
$r-topbar-logo-width-sm: 15.6rem;
$r-topbar-logo-width-lg: 18rem;

// Header logo width is required for SVG logos
$r-footer-logo-width-sm: 12.125rem;
$r-footer-logo-width-lg: 12.125rem;
