{% extends "richie/base.html" %}
{% load cms_tags static i18n %}

{% block meta_favicons %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'richie/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'richie/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'richie/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'richie/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'richie/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
<link rel="shortcut icon" href="{% static 'richie/favicon/favicon.ico' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="{% static 'richie/favicon/browserconfig.xml' %}">
<meta name="theme-color" content="#ffffff">
<!-- bullshit -->
{% endblock meta_favicons %}

{% block body_header %}
    <div id="cookie-information"></div>
    {{ block.super }}
{% endblock body_header %}

{% block topbar_contact %}
{% endblock topbar_contact %}

{% block body_footer_title %}
{% endblock body_footer_title %}

{% block body_mentions %}
    <div class="body-mentions__entities">
        {% static_placeholder "footer-support-entities" %}
    </div>
    <div class="body-mentions__copyright">
        <p>&copy; {% now "Y" %} FCT|FCCN<br>{% trans "All rights reserved" %}</p>
    </div>
{% endblock body_mentions %}

{% block body_js %}
    {{ block.super }}
    {% include "nau/cookies.html" %}
    {% include "nau/jira_service_desk.html" %}
{% endblock body_js %}
