// Basic functions must be loaded before settings to be able to use them from
// settings and objects
@import "richie-education/scss/tools/rem";
@import "richie-education/scss/tools/colors";

// Replace default fonts with a NAU custom fonts settings
@import "./extras/settings/fonts";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

@import "@openfun/cunningham-react/dist/icons";
@import "@openfun/cunningham-react/dist/style";
@import "richie-education/scss/vendors/cunningham-tokens";
@import "richie-education/scss/vendors/css/cunningham-tokens";

// Override default Richie settings variables
@import "richie-education/scss/colors/palette";
@import "./vendors/cunningham-tokens";
@import "./vendors/css/cunningham-tokens";
@import "./extras/colors/palette";

@import "richie-education/scss/colors/gradients";
@import "richie-education/scss/colors/schemes";

@import "richie-education/scss/colors/theme";
@import "./extras/colors/theme";

@import "richie-education/scss/settings/variables";
@import "./extras/settings/variables";

// TWITTER BOOTSTRAP V4
// Required
@import "bootstrap/scss/bootstrap-reboot.scss";

// Only what we use
@import "richie-education/scss/settings/bootstrap";

// Internal addons (import order does matter due to some mixin usage from
// deeper mixins)
@import "richie-education/scss/tools/index";

// Generic stuff
@import "richie-education/scss/generic/index";

// Shared object styles
@import "richie-education/scss/objects/index";

@import "richie-education/scss/components/index";

// Cunningham patchs
@import "./trumps/cunningham";
// CMS patchs
@import "richie-education/scss/trumps/cms";
// IE11 patchs
@import "richie-education/scss/trumps/ie11-fixes";

// Richie CSS Overrides
@import "extras";
