.section {
  &__title {
    font-size: 2.5rem;
    font-weight: $font-weight-semibold;
    margin-bottom: 2rem;
  }

  &__items {
    .button-caesura a {
      font-weight: $font-weight-semibold;
      padding: 0.65rem 1.4rem;
    }
  }
}