.blogpost-detail {
  border-top: 0;

  &__grid-main {
    a:not(h3 a) {
      text-decoration: underline;
    }

    @include external-link-icon(r-color("black"));

  }

  &__grid-aside {
    .blogpost-glimpse-list__title {
      font-size: 1.2rem;

      &::after {
        content: none;
      }

      span {
        color: r-color("black");
      }
    }
  }

  &__cover {
    margin-block-end: 2rem;

    img {
      margin: 0;
      border-radius: 0;
    }
  }

  &__excerpt {
    margin-block-end: 2rem;
    font-weight: $font-weight-semibold;
  }

  &__body {

    h2,
    h3 {
      margin-block-start: 2.5rem;
      margin-block-end: 1.2rem;
    }
  }

  &__row {
    padding: 0 1rem;
  }

  &__subhead {
    @include media-breakpoint-up(lg) {
      justify-content: space-between;
    }
  }

  &__pubdate {
    &::before {
      content: none;
      border: none;
      width: 0;
    }
  }

  &__authors {
    // remove the author list from the blogpost as it is not used
    display: none;
  }

  &__theme {
    &::before {
      content: none;
      width: 0;
      
      @include media-breakpoint-up(lg) {
        width: 0;
        padding-left: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      padding-left: 0;
    }

    .category-tag {
      background: none;

      &:first-of-type {
        padding-left: 0;
      }

      &::before {
        color: r-color("firebrick6");
        top: -2px;
      }

      .category-tag__title {
        color: r-color("firebrick6");
        text-transform: uppercase;
        font-size: 0.825rem;
        font-weight: $font-weight-semibold;
      }
    }
  }
}