.blogpost-detail {
  &__grid-main {
    a:not(h3 a) {
      text-decoration: underline;
    }
  }

  &__cover {
    margin-block-end: 2rem;
  }

  &__excerpt {
    margin-block-end: 2rem;
  }

  &__body {
    h2, h3 {
      margin-block-start: 2.5rem;
      margin-block-end: 1.2rem;
    }
  }

  &__theme {
    .category-tag {
      background: none;

      .category-tag__title {
        color: r-color("firebrick6");
      }
    }
  }
}