$course-details-class: ".course-detail";

#{$course-details-class} {
  &__row {
    margin-top: 2rem;
    text-align: left;

    a {
      text-decoration: underline;
    }

    &#{$course-details-class}__runs {
      a {
        text-decoration: none;
      }
    }

    @include external-link-icon(r-color("black"));

    &#{$course-details-class}__team {
      a {
        text-decoration: none;
      }
    }
  }

  &__primary-group &__title {
    color: r-color("black");
  }

  &__block {
    &:not(#{$course-details-class}__block--unpadded) {
      @include media-breakpoint-up(lg) {
        padding: 0 0 3rem 0;
      }
    }
  }

  // In future remove this block and configure the `checkmark-list-decoration-color` variable
  &__skills {
    @if r-theme-val(course-detail, checkmark-list-decoration) {
      ul {
        li {
          &::before {
            // clear upstream config
            background-image: none;

            content: "";
            display: inline-block;
            background-repeat: no-repeat;
            background-color: r-theme-val(course-detail,
                run-catalog-visibility-logo-color);
            -webkit-mask: r-theme-val(course-detail, checkmark-list-decoration);
            mask: r-theme-val(course-detail, checkmark-list-decoration);
            -webkit-mask-size: cover;
            mask-size: cover;
          }
        }
      }
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: $font-weight-semibold;
  }

  &__plan {
    margin-top: 0;
  }

  &__plan &__title {
    color: inherit;
  }

  &__organizations &__title {
    color: inherit !important;
    @include font-size($h2-font-size);
  }

  &__aside &__title {
    border-bottom: r-theme-val(course-detail, aside-title-border);
  }

  &__relations  > div {
    border-top: r-theme-val(course-detail, aside-title-border);
  }

  &__license &__label {
    color: r-color("firebrick6");
    font-weight: $font-weight-regular;
  }

  &__empty {
    font-weight: $font-weight-regular;
    font-style: normal;
  }
}