.program-detail {
  &__row {
    padding-left: 1rem;
    padding-right: 1rem;

    a:not(h3 a) {
      text-decoration: underline;
    }
    
    @include external-link-icon(r-color("black"));
  }

  &__content {
    padding-left: 1rem;
  }

  &__body {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__main {

    .subheader__teaser {
      margin: 2rem 0 1rem 1rem;
    }

    .category-badge-list__container {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .characteristics {
      padding: 1rem 1rem 0;
    }
  }

  &__excerpt {
    font-size: 1.2rem;
  }
}
